.index_graf_menu li {
    float: left;
    padding: 10px 2px 9px 1px;
    list-style: none;
    font: 8.5pt/8.5pt arial;
}

.index_graf_menu li a {
    text-decoration: underline;
}

#indexesContent {
    float: left;
}

.index_graphic {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.index_graphic a img {
    display: block;
}

.index_flat_cont {
    float: left;
    margin-bottom: 10px;
}

.index_flat_cont p {
    border-bottom: 1px dotted #E0E0E0;
    margin: 2px 0 3px 0;
    color: #333;
    font: 8pt/9pt arial;
}

.index_flat_cont label {
    color: #999;
    font: 10px/10px Arial;
}

.ind_pageCena_h2 {
    font: bold 11pt arial;
    margin-bottom: 4px;
}

.ind_pageTabl {
    margin-bottom: 5px;
}

.fin_table {
    width: 100%;
    margin: 0px 10px 0 0;
}

.fin_table td {
    text-align: center;
    font: 9pt/10pt arial;
    padding: 9px 7px 6px;
}

.num-fornat-price {
    font-weight: bold;
}

.list-analogs h3 {
    display: inline;
    position: absolute;
    top: 56px;
    font: 13px arial;
    color: gray;
}

@-moz-document url-prefix() {
    .list-analogs h3 {
        position: relative;
        top: 15px;
    }
}

.ind_pageCena_h2 a {
    color: #474545;
}

.ind_flat_tab td {
    color: #333;
    font: 8pt/11pt arial;
    padding: 6px 2px;
}

.fin_table td:first-child {
    text-align: left;
    width: 72px;
}

.sale_flat_wrap {
    position: relative;
    margin-top: 40px;
}

.sale_flat_wrap .fixed_round_block_conteiner, .sale_flat_wrap .fixed_round_block_content {
    overflow: visible;
}

.sale_flat_fix {
}

.sale_flat_fix p {
    font: 8pt/9pt arial;
    padding: 0;
    color: #333;
}

.sale_flat_tabs {
    position: absolute;
    left: -20px;
    top: -38px;
}

.iframe-one {
    position: absolute;
    top: 30px;
    left: 20px;
}

.iframe-two {
    position: relative;
    top: 8px;
    left: 18px;
    margin-bottom: 8px;
}

.iframe-two-bottom {
    margin: 4px 0 0 8px;
}

.sale_flat_tabs a.activ {
    font-weight: bold
}

.sale_flat_tabs a {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding: 10px 57px;
    border-width: 1px 1px;
    margin-right: 10px;
    border-radius: 4px 4px 0 0;
    color: #333;
}

.sale_flat_tabs a.activ {
    border-width: 1px 1px 0;
    padding: 10px 58px 11px;
}

.sale_flat_tabs a:hover {
    text-decoration: none;
}

.sale_flat_tabs_block {
}

.sale_flat_price_wrap {
    margin-top: 50px;
}

.sale_flat_price_wrap .sale_flat_tabs {
    left: 9px;
    top: -25px;
}

.sale_flat_tab {
    display: none;
}

.sale_flat_tab.activ {
    display: block;
}

.indcena_reg {
    margin: 13px 0 5px 0;
}

.actual_conteiner {
}

.actual {
    min-height: 315px;
    height: 315px;
    overflow: hidden;
}

.search_TopTitle {
    font: bold 12pt/18pt arial !important;
    color: #474545;
}

.search_TopTitle a {
    color: #474545;
    text-decoration: underline;
}

.search_TopTitle a:hover {
    text-decoration: none;
}

.search_TopTitle input {
    margin: 0;
    width: 100px;
    padding: 5px 5px 5px !important;
}

.search_TopImg {
    background: url('http://domik.ua/images/search_16.png') 1px 1px no-repeat;
    padding: 0 0 11px 23px;
}

.other_cities {
    font: 8pt arial;
    float: right;
    display: block;
    margin: 3px 0 0;
}

.realt_price_link {
    margin-bottom: 5px;
}

.block_clear {
    display: table;
    width: 746px;
}

.block_clear_left {
    float: left;
    margin-left: 0;
    margin-right: -425px;
    width: 306px;
}

.block_clear_right {
    float: left;
    margin: 0 0 0 319px;
    width: 426px;
}

.serch_block {
    height: 436px;
}

.serch_block .currency-panel {
    margin: 40px 10px 0;
}

.index_search select {
    margin: 0 20px 13px 0;
    width: 263px;
}

.index_search input {
    padding: 4px 5px 6px !important;
}

.shMHide {
    width: 100%;
}

.ind_radio input {
    vertical-align: bottom;
    margin: 0 1px 0 0;
}

.ind_radio label {
    font: 7.5pt arial;
    margin: 3px 5px 0 1px;
}

.pl_srch {
    margin: 0 0 10px 0;
    width: 320px;
}

.pl_srch input {
    margin-right: 6px;
    width: 60px;
}

label.tit_srch {
    float: left;
    margin-right: 6px;
    text-align: right;
    width: 63px;
    padding-top: 3px;
}

.srch_btn_pad {
    padding: 0 16px 2px;
}

.ind_page_h1 {
    font: 10pt/10pt arial;
    display: inline;
}

.ind_page_h2 {
    font: bold 12pt arial !important;
    margin: 0 0 2px;
    padding: 2px 0 0;;
}

.ind_page_h2 a, .ind_page_h3 a {
    color: #474545;
    text-decoration: underline;
}

.ind_page_h2 a:hover, .ind_page_h3 a:hover {
    text-decoration: none;
}

.ind_page_h3 {
    font: bold 12pt arial !important;
    margin: 0 0 1px;
    padding: 2px 0 0;;
}

.index_news_region {
    width: 18px;
    height: 10px;
    display: inline-block;
    background: url('http://domik.ua/images/Galka-24.png') no-repeat 5px 0px #fff;
    cursor: pointer;
    margin: 0 0 0 5px;
    background-size: 63%;
    border-left: 2px solid #ccc;
}

.index_news_region_block {
    display: none;
    position: absolute;
    background: #FFF;
    padding: 15px 20px;
    border: 1px solid #ccc;
    width: 360px;
    z-index: 1;
    box-sizing: border-box;
}

.index_news_region_block ul {
    list-style: none;
}

.index_news_region_block li {
    float: left;
    width: 50%;
    padding: 0 10px 5px 0;
    box-sizing: border-box;
}

.index_news_region_block li a {
    padding: 3px 0;
    display: block;
    font-size: 14px;
    text-decoration: underline;
}

.index_news_region_block li a:hover {
    color: #333;
}

.ind_page_h4 {
}

.ind_page_h5 {
}

.block_fix2min {
    height: 241px;
}

.block_fix3 {
    height: 517px;
}

.table_wd_stl {
    width: 100%;
    min-width: 250px;
}

.top_deposit_table {
    width: 100%;
    margin: 9px 10px 15px 0;
}

.top_deposit_table .stavka {
    white-space: nowrap;
}

.top_deposit_table td:first-child {
    text-align: left;
}

.top_deposit_table td {
    text-align: center;
    font: 9pt/10pt arial;
    padding: 8px 7px 10px 0;
}

.top_deposit_table label {
    margin: 0 0 5px 0;
    display: inline-block;
}

.top_deposit_table th:first-child {
    text-align: left;
}

.top_deposit_table th {
    padding: 12px 9px 9px 0px;
}

.newBuild01 td, th {
    text-align: center;
    font: 8pt/10pt arial !important;
}

.all_programs {
    position: absolute;
    bottom: 4px;
    right: 0px;
    z-index: 1000;
}

.index_baner1 {
    border: 1px solid #e1e1e1;
    width: 739px;
    height: 90px;
    background: #fff;
    position: relative;
}

.index_baner1_text {
    float: left;
    padding: 0px 0 0 80px;
}

.index_baner1_text1 {
    color: #cc0000;
    font: 18pt arial;
    padding: 22px 0 0 3px;
}

.index_baner1_text1 a, .index_baner1_text1 a:hover {
    color: #cc0000;
    font: 18pt arial;
    padding: 22px 0 0 3px;
    text-decoration: none;
}

.index_baner1_text2 {
    font: 11pt arial;
    padding: 0 0 0 4px;
    color: #999;
    letter-spacing: 1px;
}

.index_baner1_text2 a, .index_baner1_text2 a:hover {
    font: 11pt arial;
    padding: 0 0 0 4px;
    color: #999;
    letter-spacing: 1px;
    text-decoration: none;
}

.index_baner1_img {
    float: left;
    padding: 7px 7px 0px 70px;
}

.index_baner1_link p {
    float: right;
    font: bold 12pt arial;
    padding: 67px 25px 0 0;
    width: 170px;
}

.index_banner1_fulllink {
    width: 739px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

.index_baner2 {
    border: 1px solid #e1e1e1;
    position: relative;
    width: 739px;
    height: 90px;
    background: url('http://domik.ua/images/baner_03.jpg') #fff;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.index_baner2_text {
    float: left;
    padding: 0 0 0 230px;
    position: absolute;
}

.index_baner2_text1 {
    color: #cc0000;
    font: 23pt arial;
    padding: 0 0 0 1px;
}

.index_baner2_text2 {
    color: #CC0000;
    font: 19pt/16pt arial;
    padding: 13px 0 0 0;
}

.index_baner2_text2 a {
    color: #CC0000;
    font: 18pt/16pt arial;
    padding: 13px 0 0 0;
}

.index_baner2_img {
    float: left;
}

.index_baner2_link p {
    float: right;
    font: bold 14pt arial;
    padding: 17px 67px 0 0;
    width: 90px;
    display: none
}

.index_baner3 {
    border: 1px solid #e1e1e1;
    width: 739px;
    position: relative;
    height: 95px;
    background: #fff;
    display: block;
    overflow: hidden;
}

.index_baner3_text {
    float: left;
}

.index_baner3_text1 {
    color: #cc0000;
    font: 18pt arial;
    padding: 18px 0 0 3px;
}

.index_baner3_text2 {
    font: 11pt arial;
    padding: 0 0 0 4px;
    color: #999;
}

.index_baner3_img {
    float: left;
    margin: 0;
}

.index_baner3_link p {
    float: right;
    font: bold 14pt arial;
    padding: 64px 37px 0 0;
    width: 90px;
}

.index_baner3 .dop_link {
    position: absolute;
    top: 7px;
    right: 87px;
    font-size: 10px;
}

.agency_text_ul {
    padding: 0pt 0pt 5px 21px;
    font: 11pt/20px arial;
}

.agency_text_ul li {
    padding: 4px 0 5px 0;
}

.servicesH1 h3 {
    color: #036;
    font: bold 12pt/12pt Arial;
    margin: 0;
    padding: 0 0 10px;
}

.servicesH1 p {
    font: 11pt/20px arial;
    padding: 0 0 20px;
}

.agency_img {
    width: 425px;
    margin: 4px 0 0;
}

.agency_images {
    list-style: none;
}

.agency_images li {
    float: left;
    height: 256px;
    margin: 10px;
    padding: 2px;
}

.picture_agency {
    padding: 0 18px 20px 0;
    width: 230px;
}

.reclamonsite {
    padding: 5px 0 0 0;
}

.reclamonsite .logorecl {
    width: 200px;
}

.reclamonsite .reclstat {
    width: 610px;
}

.reclamonsite ul li {
    list-style: none;
    padding: 0 0 2px 10px;
}

.reclamonsite span {
    color: #999;
    font: 9px/9px Arial;
    padding: 0 20px 0 0;
}

.google_stats {
    float: left;
    width: 400px;
    margin: 20px 0 20px 10px;
}

.google_stats_img {
    float: left;
    width: 20px;
    padding: 0 10px 0 0;
    background: url(http://domik.ua/images/google.png) no-repeat;
}

.google_stats_link {
    float: left;
    width: 310px;
}

.google_stats_ul li {
    float: left;
}

.index_services li {
    padding: 0px 0px 13px 27px !important;
    overflow: visible !important;
}

.index_calc li {
    overflow: visible !important;
    padding: 0px 0px 13px 27px !important;
}

.index_services li a, .index_calc li a {
    padding: 0 0;
}

.index_services li {
    background: url('http://domik.ua/images/key.png') no-repeat;
    padding: 1px 8px 1px 25px;
}

.index_calc li {
    background: url('http://domik.ua/images/calculator_icon.png') no-repeat 4px 0px;
    padding: 1px 8px;
}

.index_talk_houses {
    display: inline-block;
    margin: 10px 0;
/ / border : 1 px solid #A19E0F;
    border: 1px solid #cc181e;;
    border-radius: 4px;
    padding: 0 19px 8px;
    width: 702px;
}

.index_talk_houses a.talk_title {
    margin: -12px 0 0 20px;
    background: white;
    padding: 0 5px 11px 5px;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    font: bold 11pt/15pt arial !important;
    float: left;
}

.index_talk_houses a.talk_title span {
    font-size: 10px;
    color: #666;
    font-weight: normal;
}

.index_talk_houses a.talk_title {
    color: #333;
}

.index_talk_houses ul {
    list-style: none;
    margin-top: 20px;
}

.index_talk_houses li {
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
}

.index_talk_houses li:last-child {
    margin-right: 0;
}

.index_talk_houses_img {
}

.index_talk_houses_text {
    width: 200px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0;
    margin-right: 0
}

.index_talk_houses_text span a {
    font-size: 10px;
}

.index_talk_houses .last_comment {
    word-wrap: break-word;
    padding: 0;
    padding-left: 3px;
    font-size: 13px;
    text-align: justify;
    line-height: 1.2;
    width: 150px;
}

.index_talk_houses .last_comment a {
    color: #333;
}

.index_search_houses_img .informer_fotka_block {
    padding: 0 !important
}

.index_search_houses li {
    padding: 0 !important;
    margin: 0 19px;
    width: 145px;
}

.index_search_houses li:first-child {
    margin-left: 0;
}

.mobile-block {
    display: inline-block;
    width: 100%;
}

.mobile-list {
    list-style: none;
}

.mobile-list li {
    width: 291px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    margin-left: 15px;
}

.mobile-list li:first-child {
    margin-left: 0;
}

.index_services li {
    background: url(http://domik.ua/images/sprites_index_sevice.png) no-repeat;
}

.index_services .add_obj_ico {
    background-position: -16px -41px;
}

.index_services .newb_list_ico {
    background-position: -16px -107px;
}

.index_services .house_kiev_ico {
    background-position: -16px -174px;
}

.index_services .ceny_kiev_ico {
    background-position: -14px -209px;
}

.index_services .analitik_ico {
    background-position: -15px -372px;
}

.index_services .newb_kiev_ico {
    background-position: -15px -7px;
}

.index_services .realtor_ico {
    background-position: -15px -239px;
}

.index_services .bild_kiev_ico {
    background: url(http://domik.ua/images/bildcomua.png) no-repeat 3px 0px;
}

.index-stat-span {
    position: absolute;
    top: 8px;
    right: 26px;
    font-size: 10px;
}

.index-stat-span a {
    text-decoration: underline;
}

.price-msg {
    display: block;
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
}

.index_baner_video {
    margin-bottom: 10px;
}

.index-streets-video-banner {
    background: url('http://domik.ua/images/Banner-YouT.png') no-repeat 0px 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.ind_page_h2_nb_slider {
    margin-top: -31px;
    height: 25px;
}

.mycarouselIndex_wrap {
    position: relative;
}

.carousel-nb-list {
    position: absolute;
    z-index: 1;
    background: #fff;
    border: 1px solid #efefef;
    top: 10px;
    left: 30px;
    width: 330px;
    display: none;
}

.carousel-nb-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel-nb-list ul li {
    float: left;
    width: 50%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.show-newbuild-list {
    padding: 5px;
    background: url('http://domik.ua/images/Galka-24.png') no-repeat 3px 0px #fff;
    float: left;
    display: block;
    height: 1px;
    width: 17px;
    cursor: pointer;
    background-size: 43%;
    border-left: 2px solid #ccc;
    margin-top: 6px;
}

.index_block_price_cr {
    width: 18px;
    height: 10px;
    display: inline-block;
    background: url('http://domik.ua/images/Galka-24.png') no-repeat 5px 0px #fff;
    cursor: pointer;
    margin: 0 0 0 5px;
    background-size: 63%;
    border-left: 2px solid #ccc;
}

.index_price_stat_table {
    position: relative;
}

.index_graf_menu {
    display: inline-block;
    width: 100%;
    height: 27px;
}

.index_ajax_title {
}

.index_ajax_title i {
    text-decoration: underline;
    font-style: normal;
}

.treecombo {
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    margin: 0 9px 20px 0;
    background: white;
}

.treecombo .txt {
    padding: 4px 22px 3px 10px;
    background: url(http://domik.ua/images/arrow_down.png) right 3px no-repeat;
    font: 10pt/13pt arial;
}

.treecombo-ulWrapper {
    border: 1px solid #CCC;
    position: absolute;
    display: none;
    background-color: #FFF;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0px;
    border-radius: 0 4px 4px 4px;
    padding: 5px 0 0 10px;
}

.jquery-tree {
    list-style: none;
}

.jquery-tree ul {
    list-style: none;
    padding: 0 0 0 20px;
}

.jquery-tree-handle {
    cursor: pointer;
    width: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.jquery-tree-collapsed ul {
    display: none;
}

.jquery-tree-collapseall, .jquery-tree-expandall {
    cursor: pointer;
}

.jquery-tree-collapseall {
    margin-right: 1em;
}

.jquery-tree input {
    position: absolute;
    left: -1000px;
}

.jquery-tree-leaf {
    padding-left: 10px;
    margin: 4px 0 7px 0;
}

.jquery-tree-node {
    padding-left: 10px;
    margin: 4px 0 7px 0;
}

.jquery-tree-node .jquery-tree-leaf {
    padding-left: 20px;
    margin: 4px 0 7px 0;
}

.jquery-tree-title {
    display: inline-block;
}

.jquery-tree-checked-partial, .jquery-tree-checked, .jquery-tree-unchecked {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    cursor: default;
    padding-left: 25px;
    margin: 0;
}

.jquery-tree-checked-partial {
    background-image: url('http://domik.ua/images/treecombo/checkbox-partial.png');
}

.jquery-tree-checked {
    background-image: url('http://domik.ua/images/treecombo/checkbox-checked.png');
}

.jquery-tree-unchecked {
    background-image: url('http://domik.ua/images/treecombo/checkbox-unchecked.png');
}

.jquery-tree-node label, .jquery-tree-handle {
    -moz-user-select: none;
}

.shAll {
}

.shMHide {
}

.shSaleFlat {
}

.shRentFlat {
}

.shSaleHouse {
}

.shRentHouse {
}

.shSaleOffice {
}

.shRentOffice {
}

.shSaleLand {
}

.shRentLand {
}

.shPremium {
}

.nbCottage {
}

.nbNewbuild {
}

ul.lFotki {
    padding: 5px 0 0;
    margin: 0 0 0 2px;
    position: relative;
}

ul.lFotki li {
    float: left;
    display: block;
    list-style: none outside none;
    font: 8pt arial;
    padding: 3px 3px 0;
    position: relative;
    width: 90px;
    white-space: nowrap;
}

ul.lFotki li .iDiv {
    border: 1px solid #ABA509;
    -moz-border-radius: 3px;
    -webkit-border-radius: 4px;
    border-radius: 3px;
    position: relative;
}

ul.lFotki li .iDel {
    width: 16px;
    height: 16px;
    background-image: url('http://domik.ua/images/delPhoto.gif');
    position: absolute;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
}

ul.lFotki li .iNum {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: 3px;
    cursor: pointer;
    background: #990;
    text-align: center;
    color: #fff;
}

ul.lFotki li .iTop {
    width: 16px;
    height: 16px;
    background-image: url('http://domik.ua/images/raty/star-on.png');
    position: absolute;
    bottom: 3px;
    right: 22px;
    cursor: pointer;
}

.imgopacitypollitra {
    opacity: 0.7
}

.imgopacityhigh {
    opacity: 1
}

ul.lFotki li img {
    vertical-align: bottom;
    visibility: hidden;
}

ul.lFotki li .iDiv img {
    padding: 0 !important
}

.edit_post .errorInput {
    border: 1px solid #F00 !important;
}

.photoObject {
}

.photoObject li {
    position: absolute !important;
}

.txt_strit .errorInput {
    border: 1px solid #F00 !important;
}

.tarea_stl .errorInput, .errorInput {
    border: 1px solid #F00 !important;
}

.error {
    color: #F00;
    font-weight: bold;
}

#customRegionError {
    clear: both;
    margin-left: 189px;
    color: #666666;
}

.object_form_readonly {
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 10px 0 0;
    margin-bottom: 10px;
    background: rgb(238, 234, 163);
    position: relative;
}

.text_readonly {
    position: absolute;
    top: 31px;
    right: 26px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: #F0690F;
}

.send-form-block {
    position: fixed;
    width: 300px;
    height: 150px;
    top: 30%;
    left: 42%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    display: none;
}

.send-form-content {
    line-height: 18px;
}

.send-form-content span {
    display: block;
    color: rgb(162, 4, 17);
    font-size: 10pt;
}

.send-form-btn {
}

.send-form-btn a {
    border: 1px solid #efefef;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 3px;
    color: #333;
}

.send-form-btn a:last-child {
    float: right;
}