.ie10 {
    
}
.search-block-line input{
    padding-left: 5px\0/;
}
.search-block-line input[type='checkbox']{
    padding-left: 0px\0/; 
}
.search-block-line .second-line .treecombo{
   
    padding-right:0px\0/;
    margin-top:1px\0/;
    height:23px\0/;
}
.seach-block table{
    width:337px\0/
}
.area_city label input{
    width: 13px\0/;
    height:13px\0/;
}
.search-form-tabs{
    top:-37px\0/;
}
.search-form-tabs-for-ie{
    top:-36px\0/;
}

.search-block-line .chb_filtr_form input{
    padding-left:0\0/;
}
.search-block-line .chb_filtr_form input{
    padding-left:0\0/;
}
.search-block-line .col6 input, .search-block-line .col4 input, .search-block-line .col6 select{
    height: 27px\0/;
}
.search-block-line .col6 input.for-ie, .search-block-line .col6 select.for-ie{
    height: 15px\0/;
}
.indexInf{
    width: 200px\0/;
}
 .second-line input{ 
    margin-top:1px\0/;
}
  .search-block-line .col3 input{
    height:27px\0/;
}
 .search-block-line .col2 input{
    height:27px\0/;
}
div.col12  input[type='checkbox']{
    box-sizing:padding-box\0/; 
} 
.header-region{
    text-decoration: none\0/;
}
.search-block-line label input{
    padding: 0px\0/
}
td.table-region-house .treecombo .txt {
    padding: 4px 30px 2px 10px\0/;
}
.first-line{
    float: left\0/;   
}
.seach-block table td{
    display:block\0/;
}
.search-block-line .table-region-for-house{
    height:28px\0/
}
.search-block-line .pro{
    float: lef\0/;
    display: block\0/;
}
.plashka_form input[type="checkbox"] {
    padding: 0\0/;
    width: 13px\0/
}
.default_form_span input[type=checkbox]{
    padding:0\0/;
    width:13px\0/;
}
.first-line .pro a{
    word-wrap: break-word\0/
}
.second-line{
    float: left\0/;
    width: 100%\0/
}
