$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

.container-fluid {
  max-width: 970px;
}
.banners-block {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background: #F0F0F0;
}
header {
  padding-top: 11px;
  .logo {
    width: 160px;
    margin: 0 auto;
    text-align: center;
    a {
      display: block;
      position: relative;
      max-width: 100%;
    }
    span {
      position: absolute;
      left: 0;
      top: 55%;
      white-space: nowrap;
      width: 100%;
      color: #025296;
      font-size: 9px;
      text-transform: uppercase;
    }
  }
  .wrap-social {
    width: 100%;
    display: inline-block;
    text-align: left;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      width: auto;
      li {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin: 5px;
        a {
          text-decoration: none;
          width: 16px;
          height: 16px;
          display: block;
          &:hover {
            text-decoration: none;
          }
          &.fb {
            background: url('http://domik.ua/images/fb.png') no-repeat;
          }
          &.gl {
            background: url('http://domik.ua/images/gp.png') no-repeat;
          }
          &.tw {
            background: url('http://domik.ua/images/tw.png') no-repeat;
          }
          &.yt {
            background: url('http://domik.ua/images/ytb.png') no-repeat;
          }
          &.calc {
            background: url('http://domik.ua/images/calculator.png') no-repeat;
          }
          &.home-icon {
            background: url('../images/favicon.png') no-repeat;
          }
          &.mob-ver {
            background: url('http://domik.ua/images/smart.gif') no-repeat;
          }
        }
      }
    }
  }
  .wrap-search {}
}

@media (min-width: 992px) {
  .wrap-top-blocks {
    display: table;
    width: 100%;
    vertical-align: middle;
    >* {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}
@media screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}